<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WorkspaceCFG.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WorkspaceCFG.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WorkspaceCFG.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WorkspaceCFG.MySettings>
      <setting name="ChosenApplication" serializeAs="String">
        <value />
      </setting>
      <setting name="ChosenApplicationPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ChosenWorkspace" serializeAs="String">
        <value />
      </setting>
      <setting name="ChosenWorkset" serializeAs="String">
        <value />
      </setting>
      <setting name="WRK1_OP1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WRK1_OP2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WRK2_OP1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WRK2_OP2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WRK1_ChosenApplication" serializeAs="String">
        <value />
      </setting>
      <setting name="WRK1_ChosenWorkspace" serializeAs="String">
        <value>untitled</value>
      </setting>
      <setting name="WRK1_ChosenWorkset" serializeAs="String">
        <value>untitled</value>
      </setting>
      <setting name="WRK2_ChosenApplication" serializeAs="String">
        <value />
      </setting>
      <setting name="WRK2_ChosenWorkspace" serializeAs="String">
        <value>untitled</value>
      </setting>
      <setting name="WRK2_ChosenWorkset" serializeAs="String">
        <value>untitled</value>
      </setting>
      <setting name="WRK1_ChosenFile" serializeAs="String">
        <value />
      </setting>
      <setting name="WRK2_ChosenFile" serializeAs="String">
        <value />
      </setting>
      <setting name="VE_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="VE_StartPos" serializeAs="String">
        <value>WindowsDefaultLocation</value>
      </setting>
      <setting name="VE_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="VE_Size" serializeAs="String">
        <value>1023, 881</value>
      </setting>
      <setting name="VC_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="VC_StartPos" serializeAs="String">
        <value>WindowsDefaultLocation</value>
      </setting>
      <setting name="VC_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="VC_Size" serializeAs="String">
        <value>897, 660</value>
      </setting>
      <setting name="VE_Split1_Dist" serializeAs="String">
        <value>340</value>
      </setting>
      <setting name="VC_Split1_Dist" serializeAs="String">
        <value>406</value>
      </setting>
      <setting name="VC_Split2_Dist" serializeAs="String">
        <value>406</value>
      </setting>
      <setting name="VC_Split3_Dist" serializeAs="String">
        <value>356</value>
      </setting>
      <setting name="VR_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="VR_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="VR_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="VR_Size" serializeAs="String">
        <value>759, 763</value>
      </setting>
      <setting name="VR_Split2_Dist" serializeAs="String">
        <value>185</value>
      </setting>
      <setting name="VR_Split3_Dist" serializeAs="String">
        <value>390</value>
      </setting>
      <setting name="ST_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="ST_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="GC_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="GC_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="EH_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="EH_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="EH_Size" serializeAs="String">
        <value>833, 668</value>
      </setting>
      <setting name="EH_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FV_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="FV_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="FV_Size" serializeAs="String">
        <value>834, 659</value>
      </setting>
      <setting name="FV_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FH_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="FH_Size" serializeAs="String">
        <value>891, 551</value>
      </setting>
      <setting name="FH_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MAIN_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="Main_StartPos" serializeAs="String">
        <value>WindowsDefaultLocation</value>
      </setting>
      <setting name="PS_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="PS_StartPos" serializeAs="String">
        <value>CenterParent</value>
      </setting>
      <setting name="Shortcut_Args" serializeAs="String">
        <value />
      </setting>
      <setting name="Shortcut_Out" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="FH_Split1_Dist" serializeAs="String">
        <value>161</value>
      </setting>
      <setting name="VL_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="VL_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="VL_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="VL_Size" serializeAs="String">
        <value>935, 729</value>
      </setting>
      <setting name="Loc_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="Loc_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Loc_Size" serializeAs="String">
        <value>677, 295</value>
      </setting>
      <setting name="SRCH_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="SRCH_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SRCH_Size" serializeAs="String">
        <value>775, 425</value>
      </setting>
      <setting name="VG_StartPos" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="VG_Location" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="VG_Size" serializeAs="String">
        <value>653, 447</value>
      </setting>
      <setting name="VG_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Chosen_OOB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chosen_LOCAL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VE_C1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VE_C2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VE_C3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VE_C4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VE_C5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VE_C6" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GroupWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VE_MULTILINE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResolveFilePaths" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoloadLastWorkspace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoloadWorkspaceSelector" serializeAs="String">
        <value>False</value>
      </setting>
    </WorkspaceCFG.MySettings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>